body{
  padding:0;
  margin:0;
}


.container {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 260px;

}

.button {
  margin-left: 45%;
  margin-top: 10px;
}
.right{
  background-color: #51c65b;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
}

.left{
  background-color: #51c65b;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
}
.button-clear{
  margin-top: 10px;

}
.header__heading{
  margin-left: 80px;
}

.color{
  color:#e22944;
}