body{
  padding:0;
  margin:0;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 260px;
}

.button__reminder {
  margin-left: 45%;
  margin-top: 10px;
}
.button__payment {
  margin-top: 10px;
}

.button__reminder--left {
  color: black;
  background-color: #51c65b;
  background:transparent;
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
}

.button__payment--right {
  background-color: #51c65b;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
}

.amount-color{
  color:#e22944;
  margin-left: 13px;
}