.header__account
{
	margin-right: 10%;
	width: 20%;
	display: flex;
	align-items: center;
}

.header__account--image
{
	width: 30px;
	height: 30px;
	padding:5px;	
}

.header__account--name
{
	width: 100%;
}

.header__account--icon
{
	width: 25%;
	margin-right: 10px;
	color: rgba(192,192,192,0.3); 
}
.header{
	margin-left: 10%;
	width: 85%;
	height: 10%;
	border: 1px black solid;
	display: flex;
	flex-wrap: nowrap;
}
.header__search--bar{
	width: 95%;
	height: 45px;
	border: none;
}
.header__search{
	width: 70%;
}
.fas{
	margin-left: 1%;
}

.header__help
{
	float: right;
	width: 50px;
	height: 50px;
	border-left: solid rgba(192,192,192,0.3) 1px;
}

.header__help--image {
	width: 23px;
	padding: 14px;
	height: 23px;
	color: rgba(192, 192, 192, 0.3);
	filter: grayscale(100%);
	transform: rotateZ(45deg);
}
.header__notifications--icon{
	border-left: solid rgba(192,192,192,0.3) 1px;
	width: 50px;
	height: 50px;
}
.header__notifications--image{
	height: 24px;
	width: 24px;
	padding: 11px;
}