body {
	margin: 0;
	padding: 0;
	font-family: 'Mukta', sans-serif;
}


.toppage-header {
	width: 100%;
	height: 56px;
	display: flex;
	flex-wrap: nowrap;
	background: #fff;
	box-shadow: 0 5px 10px -5px gray;
}

.account {
	width: 22%;
	display: flex;
	align-items: center;

	&__image {
		width: 30px;
		height: 30px;
		padding: 15px;
	}

	&__name {
		width: 60%;
	}

	&__icon {
		width: 6%;
		margin-right: 0;
		color: rgba(192,192,192,0.5);
		padding-bottom: 20px;
		position: relative;
		top: 12px;
	}

	&__settings {
		background: grey;
		position: absolute;
		flex-flow: column;
		top: 7%;
		right: 11%;
		display: none;
		width: 8%;
		text-align: center;
	}

	&__settings-item {
		color: #f7f8f9;
		text-decoration: none;
		list-style: none;
	}

	&__icon:hover + .account__settings {
		display: block;

	}

	.account__settings:hover {
		display: block;
	}
}

.search {
	width: 70%;
	display: flex;
	align-items: center;

	&__bar {
		width: 95%;
		height: 45px;
		border: none;
		padding-left: 20px;
		outline: none;
	}

	&__icon {
		font-size: 23px;
		padding-left: 10px; 
		color: rgba(192,192,192,0.5); 
	}

}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

::placeholder {
		color: rgba(192,192,192,0.5);
}

.fas {

}

.help {
		height: 60px;
		width: 6%;
		border-left: solid rgba(192,192,192,0.5) 1px;
		display: flex;
		align-items: center;
		justify-content: center;


	&__image {
    	padding: 19px;
    	height: 24px;
    	margin: auto;
    	color: rgba(192, 192, 192, 0.5);
    	filter: grayscale(100%);
    	transform: rotateZ(45deg);
	}
}

.notifications {

		border-left: solid rgba(192,192,192,0.3) 1px;
		width: 6%;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;

	&__image {
		height: 27px;
    	margin: auto;
	}
}
