<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/index.css">
	<title></title>
	<link rel="stylesheet" href="../../css/index.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<header>
	<div class="header">
		<div class="header__search">
            <span class="header__search--icon">
                <i class="fas fa-search"></i>
            </span>
			<input type="search" class="header__search--bar" placeholder="Search for...">
		</div>
		<div class="header__account">
			<img class="header__account--image" src="https://image.flaticon.com/icons/png/512/305/305997.png">
			<div class="header__account--name">Charlotte Hornets</div>

			<span class="header__account--icon"><i class="fas fa-angle-down"></i></span>

		</div>

		<div class="header__notifications">
			<div class="header__notifications--icon">
				<img class="header__notifications--image" src="bell-regular.svg">
			</div>
			<div class="header__notifications--amount">
			</div>
		</div>

		<div class="header__help">
			<span class="header__help--icon"><img class="header__help--image" src="help.png"></span>
		</div>
	</div>
</header>
</body>
</html>